@model MovieReview.Models.MovieCreate

@{
    ViewBag.Title = "Create";
}
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

<style>
    .movie-create {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right top, #092648, #424e72, #757b9f, #ababce, #e2deff);
        border-radius: 10px;
        margin-top: 100px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        color: white;
        font-family: 'Abril Fatface', cursive;
    }

    .a-tag a {
        text-decoration: none;
        color: white;
    }
</style>

<div class="movie-create">

    <h1 class="text-center">Create</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal ">
            <h3 class="text-center">MOVIES</h3>
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <h3>@Html.LabelFor(model => model.MovieName, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MovieName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MovieName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h3>@Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Genre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h3>@Html.LabelFor(model => model.Director, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Director, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Director, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div class="a-tag">
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>

