@using Microsoft.AspNet.Identity
@model MovieReview.Models.MovieDetail

@{
    ViewBag.Title = "Details";
}
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

<style>

    .movie-details {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right top, #092648, #424e72, #757b9f, #ababce, #e2deff);
        border-radius: 10px;
        margin-top: 100px;
        padding-left: 20px;
        padding-top: 10px;
        color: white;
        
    }

    a {
        color: white;
        text-decoration: none;
        /*font-family: 'Indie Flower', cursive;*/
    }
    a:hover{
        color: white;
        
    }
    .heading {
        font-family: 'Abril Fatface', cursive;
    }
    
</style>

<div class="movie-details">

    <h2 class="text-center heading">Details</h2>
    <div>


        @*<h4 class="text-center">MovieDetail</h4>*@
        <br />
        <dl class="dl-horizontal">
            @*<dt>
                    @Html.DisplayNameFor(model => model.MovieID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MovieID)
                </dd>*@

            <dt>
                <h4 class="heading">@Html.DisplayNameFor(model => model.MovieName):</h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.MovieName)</h4>
            </dd>

            <dt>
                <h4 class="heading">@Html.DisplayNameFor(model => model.Genre):</h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.Genre)</h4>
            </dd>

            <dt>
                <h4 class="heading">@Html.DisplayNameFor(model => model.Director):</h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.Director)</h4>
            </dd>

            <dt>
                <h4 class="heading">@Html.DisplayNameFor(model => model.CreatedUtc):</h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.CreatedUtc)</h4>
            </dd>

            <dt>
                <h4 class="heading">@Html.DisplayNameFor(model => model.UpdatedUtc):</h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.UpdatedUtc)</h4>
            </dd>

        </dl>
    </div>
    <p class="links">
        @Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }) |
        @Html.ActionLink("Back to List", "Index")
        @*@Html.ActionLink("Write a review", "Create", "Review", new { id = Model.MovieID }, null)*@

    </p>
    <hr />
    <h1 class="heading">Reviews</h1>

    <div class="row">
        <div class="container">
            @foreach (var item in Model.AllReviews)
            {
                <div class="row review">
                    <div class="col-md-12">
                        <h4 class="heading">
                            @Html.DisplayNameFor(modelItem => item.UserName):
                        </h4>
                        <h4>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </h4>
                        <h4 class="heading">
                            @Html.DisplayNameFor(modelItem => item.Review):
                        </h4>
                        <h4>
                            @Html.DisplayFor(modelItem => item.Review)
                        </h4>

                        @if (User.Identity.GetUserId() == item.OwnerID.ToString())
                        {
                            //text, Action, controller.
                            @Html.ActionLink("Edit", "Edit", "Review", new { id = item.ReviewID }, null)
                            @Html.ActionLink("Delete", "Delete", "Review", new { id = item.ReviewID }, null)
                        }
                    </div>
                </div>
            }
        </div>
    </div>

</div>


