@model MovieReview.Models.ReviewDetail

@{
    ViewBag.Title = "Delete";
}
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">


<style>
    .review-delete {
        height: 100%;
        width: 100%;
        background-color: skyblue;
        border-radius: 10px;
        margin-top: 100px;
        padding-left: 20px;
        padding-top: 10px;
        background-image: linear-gradient(to right top, #092648, #424e72, #757b9f, #ababce, #e2deff);
        font-size: 20px;
        color: white;
    }
    a{
        color: white;
    }
    .heading {
        font-family: 'Abril Fatface', cursive;
    }
    .button{
        margin-bottom: 20px;
    }
</style>

<div class="review-delete">
    <h2 class="heading text-center">Delete</h2>

    <h3 class="heading text-center">Are you sure you want to delete this?</h3>
    <div>
        
       
        <dl class="dl-horizontal">
            <dt class="heading">
                @Html.DisplayNameFor(model => model.ReviewID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReviewID)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.MovieID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MovieID)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.Review)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Review)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedUtc)
            </dd>

            <dt class="heading">
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUtc)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color button">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index", "Movie")
            </div>
        }
    </div>
</div>


